<style>
   .social-buttons{
    margin:12px 0
}



</style>
<div class="card card-block register_sfondo" >
  <div class="col-md-12">
      Login via
      <div class="social-buttons">
          &nbsp;
        <a href="#" class="btn btn-primary" ng-click="main.signInFacebook()"><i class="fa fa-facebook"></i> Facebook</a>
        <!-- <a href="#" class="btn btn-error"><i class="fa fa-twitter"></i> Twitter</a> -->                                                                                                                            
        <a href="#" class="btn btn-info" ng-click="main.kiki()">CHIAMA</a>
        <a href="#" class="btn btn-warning" ng-click="main.sigin2608()">CHIAMA</a>
        <a class="pull-right btn btn-outline-dark" ng-click="main.signInGoogle()" style="text-transform:none"><img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="images/512px-Google__G__Logo.svg.webp" /></a>
        
        <div id="recaptcha-container" class="recap"></div>
      </div>
  </div>
  <script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('recaptcha-container', {
          'sitekey' : '6LdwnGYcAAAAACxHLhVhcM6w60IVt-LORn2FdJrm'
        });
    };
  </script>
  <form class="card-header" name="myform" ng-submit="main.signInNormal(main.user)">
  <h2 class="text-sm-center"> <br><br/><span class="pull-right col-2"><img class="img-thumbnail" src="images/gimmegomme.gif" ng-if="working"></span></h2>
  <div class="form-group" >
    <input type="email" ng-model="main.user.email" name="email" class="form-control" placeholder="Email"  required>
    <div ng-messages="myform.email.$error">
      <div ng-message="required">Please insert Email.</div>
    </div>
  </div>
  <div class="form-group">
    <input type="password" ng-model="main.user.password" name="pass" class="form-control" placeholder="Passwort" minLenght="5" required>
    <div ng-messages="myform.pass.$error">
      <div ng-message="required">Please insert Password.</div>
    </div>
  </div>
  <div class="form-group text-center">
    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
    <label for="remember"> Remember Me</label>
  </div>
  <a class="pull-right" ng-click="main.sendEmailForgot()"><i><small>Password dimenticata?</i></small></a>
  <!-- test-->
  <button type="submit" class="btn btn-primary" ><span class="fa fa-login"> LOGIN</span></button>
  <div class="text-primary text-sm-center" ng-if="message"><h2>{{message}}</h2></div>
  <span class="icon-bar" style="width:3939px"></span>
</form>
<a class="btn btn-warning" href="#signup">Signup</a>




</div>
</div>
