<style>
    .overlay {
        position:absolute;
        bottom:0;
        
    }
    .test_fb {
        width:auto;  
        height:auto;
        position:relative;
    }
    /* @media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    } */
    .zoom {
    transition: transform .6s; /* Animation */
    }
    .zoom:hover {
    overflow:hidden;
     transform: scale(1.33333); /* (150% zoom)*/
    }
}
</style>
<!-- methodo 1 : accettare che fb mi da 50px, e test_fb = 50px
     2 : metter wifdth auto
-->
<br/>
<br/><br/><br/>
<h2>hello user </h2>
{{user.email}} -- 
<small ng-click="">show more</small>    
<div class="row col-sm-12 ">
    <div ng-repeat="card in scoped_items" class="card card-block ml-1 col-sm-4 col-md-3 mb-3" >
        <div class="card-title text-truncate">
            <h4 class="fa fa-file fa-2x ">{{card.text}}</h4>
            </div><div class="card-body " >
            
            <img class="img-fluid zoom " src="{{card.image}}">
        </div>
    </div>
</div>



<div style="padding-left:4vw;" style="display:none">
FB MESSAGE: {{message}}
<div ng-if="!user"><a href="/home"></a></div>
    <a href="#" class="btn btn-default" ng-click="fblogout()"> FB logout</a>
<div class="row col-sm-12">
    <div class="divider col-sm-8"></div>
    <div class="card card-block border-0 col-sm-4">

        <div class="test_fb">
        <img  src="images/greets.gif">
            <div class="overlay bg-dark py-2 px-2 rounded-circle"><i style="color:#ccc" class="fa fa-edit fa-2x"></i></div>
        </div>

    </div>
</div>

<div ng-if="!user" style="padding-top:50px;"><h2> USER is NULL</h2>  
     <!--  questo va rui            rootscope -->
    
</div>
<a ng-if="user" href="#" class="btn btn-info" ng-click="logout()">LOGOUT</a>

<div >
    <a href="" class="btn btn-info" ng-click="affanculo()">AGGIUNGI SUBSCRIBEn</a>
</div>

<div>
    <a href="" class="btn btn-outline-success" ng-click="createPref()">Create Pref</a> 
</div>
<pre>{{preferenceJSON}}</pre>
<pre>{{debugPref}}</pre>
