
<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel(); $event.stopPropagation()">
    <span aria-hidden="true">&times;</span>
  </button><h3 class="modal-title">{{title}}</h3>

</div>
<div class="modal-body">
	<h4><i class="fa-fa-book fa-2x">HINT #1</i></h4>
	<h3>
		{{message}}
	</h3>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary btn-warn" data-ng-click="ok(); $event.stopPropagation()">OK,Understood</button>

  <button type="button" class="btn btn-default" data-ng-click="cancel(); $event.stopPropagation()">Cancel</button>
</div>
