<div class="card card-block p-4 register_sfondo" class="col-sm-12" >

  <form role="form" name="fjnjnnfayerstat" ng-submit="main.submit()">
  <div class="row form-group">
    <div class="col-sm-6">&nbsp;
      
      <i class="my-5">&nbsp;</i><img class="img-fluid pull-right" ng-if="andrina_splash" style="height:auto"src="images/doggo_loading.gif">
      <h2 >Signup</h2> <div class="my-1"></div>
<i></i><i class="my-5">&nbsp;</i>
    </div>
    <div class="col-sm-6 row clearfix">
      <div class="form-group mb-3 col-12 pull-right">
      <div class="input-group-addon" style="opacity:0.7  mn "><i class="fa fa-user-plus fa-2x"></i></div>
      <label><br/><i class="fa fa-user">&nbsp; Enter your email</i>
      <input type="email" name="email" class="form-control" placeholder="your name" ng-model="main.name" >
      </label>
      </div>
      <div class="form-group mb-3 col-12 mx-auto" >
      <label><i class="fa fa-shield ">&nbsp; Password</i>
      <input type="text" name="pass" type="password" class="form-control" placeholder="password" ng-model="main.pass" minLength=6>
      </label>
      </div>
      <div class="form-group mb-3 col-12 clearfix">
      <label>          <i class="fa fa-adjust"></i>
        Retype Password
      <input type="text" name="pass_confirm" class="form-control" placeholder="password" ng-model="main.pass_confirm">
      </label>
      </div>
    <div class="row col-12 text-nowrap mx-auto " style="margin-left:-20px;">
        <button class="btn btn-info  mx-auto  col-sm-12" type="submit">REGISTER</button>

      </div>
    </div>

    </form>

</div>
<span ng-if="andrina_splash" class="row"><h2 class="text-primary">LOGGING IN...</h2>
</span>
<i ng-if="message" class="text-danger">{{message}}</i>
<!-- Bootstrap4 beta 2 not working -->
<!-- <div class="input-group mb-3">
    <div class="input-group-addon">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>-->





  <h1>{{main.out}}{{out}}</h1>
  <div class="col-4 mx-auto box-shadow">
    <a ng-if="!debug" class="btn btn-primary text-light" ng-click="andrina_splash = !andrina_splash" >GOGLLANNANAD</a>
  </div>
