<style>
  .box.ng-enter{
        -webkit-animation: tinywalk 600ms ease-out;
        animation: tinywalk 600ms ease-out;
      }
  .box.ng-leave{
    -webkit-animation: tinywalk 600ms ease-in reverse;
    animation: tinywalk 600ms ease-in reverse;
  }
  @keyframes tinywalk {
        0%{ transform: translate(30%);opacity:0;}

        100%{ transform: translate(0);opacity:1}
      }
  .text_order.ng-enter {
        -webkit-animation: walk 1000ms ease;
        animation: walk 1000ms ease;
  }
  @keyframes walk {
        0% { transform: translate(30%);opacity:0;}
        30%{ transform: translate(30%);opacity:0}
        100%{transform: translate(0);opacity:1}
  }
  .btn-file input[type=file] {
    display:block;

  }
  file-label::after{
    content: "Click me";
  }

  img {
    max-width:100%;
    overflow:hidden;
    border:none;
    padding:0;
    margin:0 auto;
    display:block;
  }

  #donut {
    position:absolute;
    border: 2px solid #0fff00;
    
  }
</style>


<div class="card" id="rootElement">
  <div class="card-header">
    <h4>Lottare</h4><small>inutile resistere</small>
    </div>
  <div class="card body my-2 px-2 py-2" ng-init="main.active = 0">
    <div class="row">
      <div class="col-sm-6">
        <h2>{{main.azione_welcome_text}}</h2>
      </div>
      <div class="col-sm-6"></div>


    </div>


    <form name="form">
    <h2 class="text-danger text-nowrap">{{innocu_error}}</h2>
   
    <cl-upload class="text-dark text-truncate btn btn-warning btn-file" ng-if="!recog_in_progress" id="rootid" file-input="file" on-change="readFile()" >{{zio}}</cl-upload>
    <img class="img-thumbnail" src="images/awwloader.gif" ng-if="recog_in_progress">
    </form>
    <button class="btn btn-info my-2" type="button" ng-click="main.active = !main.active" id="button">BUTTON</button>
    
    <!-- <a class="btn btn-block btn-info" ng-click="main.cleanup()">MANDA</a> -->

    <div class="row col-sm-12 mt-5" ng-if=" upload_complete || main.active">
      <div class="card col-sm-6 col-md-8" >
      <div class="card-block my-2 pa-2" >
        <img  style="min-height:200px";class="box img-responsive img-auto" src="{{thecat}}">
        <div id="donut" ng-style="style"></div>
      </div>
    </div>
      <!-- <div ng-if="recog_in_progress">{{recog_in_progress}}</div> -->
      
      <div class="card col-sm-6 col-md-4">
          <div class="card-block my-2 pa-2"  >
            
            <div ng-repeat="testo in testi track by $index"  style="font-size:28px" class="text_order" ng-if="active2" >
              <div ng-if="$index != 2"><i>{{testo}}</i></div>
              <div ng-if="$index == 2"><b><i>{{testo}}</i></b></div>
            </div>
        </div>
      </div>
      </div>
      <div>
        <a class="btn btn-success-outline mx-auto px-5" ng-if="active2" href="#azione">UPLOAD AGAIN</a>
        <a class="btn btn-primary mx-auto px-5" ng-if="active2" href="#another">DONE</a>
        <!-- <a class="btn btn-block btn-success" ng-if="upload_complete" ng-click="main.procedi()">PROSEGUI PASSO SSUCCESSIVO</a> -->
      </div>
       






    </div>

  </div>
